<article>

  <h2>Weekly Menu</h2>

  <div class="box" *ngFor="let recipe of recipes | async; let odd = odd; let index = index">
    <a [routerLink]="['/recipe', recipe.recipeId]">
      <div [ngClass]="{'box-content': true, 'float-right': odd, 'float-left': !odd}">
        <h2>{{weekDays[index % 7]}}</h2>
        <h4>{{recipe.name}}</h4>
      </div>
      <div [ngClass]="{'box-image': true, 'float-left': odd, 'float-right': !odd}">
        <img [src]="recipe.image | image" width="200" height="120" alt="Recipe Image">
      </div>
    </a>
  </div>
</article>
