<article>
  <div>
    <h2>{{recipe.name}}</h2>

    <div class="box">
      <div class="box-content float-right">
        <table>
          <tr>
            <td class="style_bold">Price:</td>
            <td>{{recipe.price | currency}}</td>
          </tr>
          <tr>
            <td class="style_bold">Cooking Time:</td>
            <td>{{recipe.time}} minutes</td>
          </tr>
        </table>
      </div>
      <div class="box-image float-left">
        <img class="recipe-image" src="content/images/food/{{recipe.image}}.jpg" />
      </div>
    </div>
    <h3>Ingredients</h3>
    <ul class="ingredientsList">
      <li *ngFor="let ingredient of recipe.recipeIngredients">
        {{ingredient.amount}} {{ingredient.amountType}} {{ingredient.ingredient?.name}}
      </li>
    </ul>
    <h3>Instructions</h3>
    <ol>
      <li *ngFor="let instruction of recipe.recipeInstructions">
        {{instruction.instructionText}}
      </li>
    </ol>
  </div>
</article>
